{% extends '../base.html' %}
{% load static %}

{% block content %}
<style>
    #hoverButton {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }

    .custom-circle-button {
        width: 50px;
        height: 50px;
        border-radius: 50%; /* Makes the button circular */
        padding: 0; /* Remove padding to maintain the circular shape */
        text-align: center; /* Center the icon inside the button */
        border: none; /* Remove default border */
        background-color: #6c757d; /* Same background color as .btn-secondary */
        color: white; 
        cursor: pointer; 
        display: flex; /* Use flexbox to center the icon */
        align-items: center; /* Vertically center */
        justify-content: center; /* Horizontally center */
    }
</style>
<div class="container-fluid p-2">
    <h3><strong>Contratos</strong></h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" style="text-align: right;"></th>
            </tr>
        </thead>
        <tbody id="list-wrapper-contracts">
            <!-- Contract data will be populated here -->
        </tbody>
    </table>

    <a href="" id="hoverButton" class="btn btn-primary custom-circle-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fas fa-fw fa-plus"></i>
   </a>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                        <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"/>
                    </svg> Contrato
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="form-wrapper">
                    <form id="add-contract-project" action="">
                        <div class="form-group">
                            <input id="name" class="form-control" type="text" name="name" placeholder="Nombre del Contrato" required>
                        </div>
                        <button class="btn btn-primary form-control" type="submit">Crear Contrato</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/contracts.js' %}?v=1"></script>
{% endblock %}