{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar la contraseña</title>

	<link class="js-stylesheet" href="{% static 'css/light.css' %}" rel="stylesheet">

</head>
<body>
    <br><br>
    <section id="" class="container-fluid d-flex align-items-center justify-content-between">
        <div class="container">
            <h1>Cambiar la contraseña</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.old_password.id_for_label }}">Contraseña actual:</label>
                    <input type="password" name="{{ form.old_password.name }}" class="form-control" id="{{ form.old_password.id_for_label }}" placeholder="Introduzca la contraseña actual" required>
                </div>
                <div class="form-group">
                    <label for="{{ form.new_password1.id_for_label }}">Nueva contraseña:</label>
                    <input type="password" name="{{ form.new_password1.name }}" class="form-control" id="{{ form.new_password1.id_for_label }}" placeholder="Introduzca la nueva contraseña" required>
                </div>                           
                <br>
                <ul>
                    <li>Tu contraseña no puede ser demasiado similar a tu otra información personal.</li>
                    <li>Tu contraseña debe contener al menos 8 caracteres.</li>
                    <li>Tu contraseña no puede ser una contraseña de uso común.</li>
                    <li>Tu contraseña no puede ser una contraseña frecuentemente usada.</li>
                    <li>Tu contraseña no puede ser completamente numérica.</li>
                </ul>
                <div class="form-group">
                    <label for="{{ form.new_password2.id_for_label }}">Confirma la Nueva Contraseña:</label>
                    <input type="password" name="{{ form.new_password2.name }}" class="form-control" id="{{ form.new_password2.id_for_label }}" placeholder="Confirma la nueva contraseña" required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary form-control">Cambiar contraseña</button>                
            </form>
        </div>
    </section>

	<script src="{% static 'js/app.js' %}"></script>

</body>
</html>