{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

	<link class="js-stylesheet" href="{% static 'css/light.css' %}" rel="stylesheet">

</head>
<body>
    <br><br>
    <section class="container-fluid d-flex align-items-center justify-content-between">
        <div class="container">
            <h1>Contraseña cambiada</h1>
            <p>Tu contraseña ha sido cambiada exitosamente.</p>
            <a href="{% url 'login' %}">
                <button class="btn btn-primary">Volver a tu cuenta</button>
            </a>
        </div>
    </section> 

	<script src="{% static 'js/app.js' %}"></script>

</body>
</html>