{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link class="js-stylesheet" href="{% static 'css/light.css' %}" rel="stylesheet">

</head>
<body>
    <br><br>
    <section class="container-fluid d-flex align-items-center justify-content-between">
        <div class="container">
            <h1>Solicitud de Restablecimiento de Contraseña Enviada</h1>
            <p>Hemos enviado un correo electrónico a la dirección que proporcionaste. Por favor, sigue las instrucciones en el correo para restablecer tu contraseña.</p>            
        </div>
    </section>

    <script src="{% static 'js/app.js' %}"></script>

</body>
</html>