{% extends './base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid p-2">
  <table class="table">
      <thead>
          <tr>
              <th scope="col">Nombre de la sesión</th>
              <th scope="col" style="text-align: right;">Creado en</th>
          </tr>
      </thead>
      <tbody id="list-wrapper-chat">
          <!-- Chat session data will be populated here -->
      </tbody>
  </table>

  <!-- Button to trigger modal -->
  <a href="/" class="btn btn-primary custom-circle-button">
      <i class="fas fa-fw fa-plus"></i>
  </a>
</div>

<!-- Modal for adding/editing chat session -->
<div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="chatModalLabel">
                  <i class="fas fa-comments"></i> Sesión de chat
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form id="add-chat-session">
                  <div class="form-group">
                      <input id="chat-name" class="form-control" type="text" name="name" placeholder="Chat Session Name" required>
                  </div>
                  <button class="btn btn-primary form-control" type="submit">Guardar sesión</button>
              </form>
          </div>
      </div>
  </div>
</div>
<script src="{% static 'js/chats.js' %}?v=1"></script>

{% endblock %}